html, body{
	width: 100%;
}
.wrapper{
	// height:100px;
	// margin-top:100px;
	display: block;
	width: 980px;
	margin: 0 auto;
}

header{
	background-color: #000;
	color: #fff;
	height: 30px;
	.wrapper{
			height: 100%;
		.header-info{
				height: 100%;
				line-height: 30px;
				text-transform: uppercase;
			.custom_phone{
				float: left;
				height: 100%;
			}
			.my_info{
				float: right;
				height: 100%;
			}
			
		}
		
	}
	
}
.my_ak{
	float: left;
	border-left: 2px $gray solid;
	border-right: 2px $gray solid;	
	padding: 0 10px 0 25px;
	height: 100%;
	background: url("../img/ak.png") no-repeat 5px center;
	
}
.my_cash{
	float:right;
	display: block;
	border-right: 2px $gray solid;	
	padding: 0 10px;
	height: 100%;
}
.head-logo_menu{

}
.logo{
	float: left;
	margin-top: 40px
}
.head-logo_menu{
	.wrapper{
		height: 110px;
		
	}

}
.is-active li{
	display: block;
}	
nav{
	float: right;
	margin: 40px 25px 0 0;
	z-index: 2;
	ul{
		display: block;
		float: left;
		padding: 0 15px;
		height:  35px;
		line-height: 35px;
		margin: 0 auto;
		position: relative;
		transition: all 0.2s linear 0s;
			&:hover{
				background-color: $orange-light;
				color: $white;

			}
		}
		#products{
			padding: 0 20px 0 15px;
			&:hover{

				&:after{
				content: "";
				display: block;
				position: absolute;
				right: 5px;
				top: 15.5px;
				border-bottom: 6px $white solid;
				border-left: 4.5px transparent solid;
				border-right: 4.5px transparent solid;
				}
			}
			li {
				display: none;
			}
			ul.is-active li{
				display: block;
			}
		}

	

}
.bin{
	float:right;
	width: 215px;
	border: 1px $gray-light solid;
	color: $gray-light;
	margin-top: 25px;
	select.customer_card{
		display: block;
		height: 30px;
		width: 100%;
		appearance: none;
		border: none;
		padding: 0 10px;

	}
	.customer_check{
		height: 30px;
		line-height: 30px;
		text-align: right;
		border-top: 1px $gray-light solid;
		padding: 0 10px;
		background: url("../img/bin.png") no-repeat 10px center;
		.customer_check-quantity{
			display: inline;
		}
		.customer_check-summ{
			display: inline;
			border-left: 1px $gray-light solid;
			padding-left: 5px; 
		}
	}
}
.wrapper-all{
	width: 1200px;
	margin: 0 auto;
}
.slider {
    height: 440px;
    width: 100%;
    position: relative;
    transition: 500ms;
    background-image: url("../img/main_slider/slide1.jpg");
}
.leftbutt {
    position: absolute;
    left: 0px;
    height: 115px;
    width: 25px;
    top: 40%;
    border: none;
    background: url("../img/main_slider/leftbut.jpg") center no-repeat #ffffff;
}
.rightbutt {
    position: absolute;
    right: 0px;
    height: 115px;
    width: 25px;
    top: 40%;
    border: none;
    background: url("../img/main_slider/rightbut.jpg") center no-repeat #ffffff;
}
.div2 {
    width: 1200px;
    height: 30px;
    position: absolute;
    text-align: center;
    top:105%;
	ul {
	    margin: 0 auto;
	}
	li.showslidepos {

	    margin: 5px;
	    display: inline-block;
	    border-radius: 50%;
	    width: 10px;
	    height: 10px;
	    background-color: #867a76;
	}
}

.slider_main-text{
	position: absolute;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
	width: 340px;
	text-align: center;
	.main-text_crazy{
		font-size: 36pt;
	}	
	.main-text_collection{
		font-size: 36pt;
		border-top: 2px $gray solid;
	}
	.btn-slider_main{
		display: inline-block;
		padding: 20px 25px;
		color: $white;
		font-size: 16pt;
		border-bottom: 3px $orange-darkest solid;
		background: $orange;
		text-align: center;
		text-decoration: none; 
		position: relative;
		text-transform: uppercase;
		&:after{
			content: "";
			display: block;
			position: absolute;
			right: 10px;
			top: 50%;
			border-bottom: 4.5px transparent solid;
			border-left: 6px $white solid;
			border-top: 4.5px transparent solid;
			transform: translateY(-50%);
		}
	}
}
.follow_us {
	color: #8a8a8a;
	position: absolute;
	display: inline-block;
	left: 18.5%;
	top: 65%;
	background: #ededed;
	text-align: center;
	height: 55px;
	width: 1200px;
	line-height: 55px;
	.followform {
		float: left;
	}
		input {
			color: grey;
			font-style: italic;
		}

		.addbuttonshadow {
			display: inline-block;
			border: none;
			width: 20px;
			height: 20px;
			background: #fd926d url("../img/addbuttlogo.jpg") no-repeat center;
			border-bottom: 2px solid #dd6b44;
		}
		.errormail {
			display: none;
			color: red;

	}
	.followleft {
		display: block;
		position: relative;
		float: right;
		.follow_us-sotial_fb{
			display: inline-block;
			background: #f7f7f7 url("../img/shape2.png") no-repeat center;
			height: 55px;
			width: 55px;
		}
		.follow_us-sotial_tv{
			display: inline-block;
			background: url("../img/shape3.png") no-repeat center;
			height: 55px;
			width: 55px;
		}
		.follow_us-sotial_hz{
			display: inline-block;
			background: #f7f7f7 url("../img/shape4.png") no-repeat center;
			height: 55px;
			width: 55px;
		}
	}
}
.content-clothes_collection {
	background: #fd926d;
	padding: 10px;
	width: 1200px;
	overflow: hidden;
}
.clothes_collection-model {
	display: inline-block;
	margin-left: 20px;;
}
.button_bynow {
	position: absolute;
	z-index: 1;
	height: 120px;
	width: 120px;
	line-height: 150px;
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: url("../img/keylogo.jpg") no-repeat #3d3d3d center 30px;
	outline: none;
	text-align: center;
	border-radius: 50%;
	text-transform: uppercase;
	display: none;

}
