html, body{
	width: 100%;

}
.wrapper{
	// height:100px;
	// margin-top:100px;
	display: block;
	width: 970px;
	margin: 0 auto;
}

header{
	background-color: #000;
	color: #fff;
	height: 30px;
	.wrapper{
			height: 100%;
		.header-info{
				height: 100%;
				line-height: 30px;
				text-transform: uppercase;
			.custom_phone{
				float: left;
				height: 100%;
			}
			.my_info{
				float: right;
				height: 100%;
			}
			
		}
		
	}
	
}
.my_ak{
	float: left;
	border-left: 2px $gray solid;
	border-right: 2px $gray solid;	
	padding: 0 10px 0 25px;
	height: 100%;
	background: url("../img/ak.png") no-repeat 5px center;
	
}
.my_cash{
	float:right;
	display: block;
	border-right: 2px $gray solid;	
	padding: 0 10px;
	height: 100%;
}
.head-logo_menu{

}
.logo{
	float: left;
	margin-top: 40px;
		svg{

		}
}
.head-logo_menu{
	.wrapper{
		height: 110px;
		
	}

}
.is-active li{
	display: block;
}	


/*
nav{
	float: right;
	margin: 40px 25px 0 0;
	z-index: 2;
	ul{
		display: block;
		float: left;
		padding: 0 15px;
		height:  35px;
		line-height: 35px;
		margin: 0 auto;
		position: relative;
		transition: all 0.2s linear 0s;
			&:hover{
				background-color: $orange-light;
				color: $white;

			}
		}
		#products {
			padding: 0 20px 0 15px;
			&:hover {

				&:after {
					content: "";
					display: block;
					position: absolute;
					right: 5px;
					top: 15.5px;
					border-bottom: 6px $white solid;
					border-left: 4.5px transparent solid;
					border-right: 4.5px transparent solid;
				}
			}
			& li{
				display: none;
			}
			&.is-active li{
				display: block;
				color: $orange;
				background: $white;
				padding: 0.75em 0 0.75em 20px;
				width: 200px;
				& a span{
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background: $orange;
				}
				&:hover{
					color: $white;
					background: $orange;
					& span{
						color: $orange;
						background: $white;
					}
				}
			}
		}
}
*/



.bin{
	float:right;
	width: 215px;
	border: 1px $gray-light solid;
	color: $gray-light;
	margin-top: 25px;
	select.customer_card{
		display: block;
		height: 30px;
		width: 100%;
		appearance: none;
		border: none;
		padding: 0 10px;
		-webkit-appearance:none;
		-moz-appearance:none;
		-o-appearance:none;
		-khtml-appearance:none;
		appearance:none;
	}
	.customer_check{
		height: 30px;
		line-height: 30px;
		text-align: right;
		border-top: 1px $gray-light solid;
		padding: 0 10px;
		background: url("../img/bin.png") no-repeat 10px center;
		.customer_check-quantity{
			display: inline;
		}
		.customer_check-summ{
			display: inline;
			border-left: 1px $gray-light solid;
			padding-left: 5px; 
		}
	}
}

.wrapper-all{
	max-width: 1200px;
	min-width: 970px;
	width: 100%;
	margin: 0 auto;
}
.slider {
    height: 440px;
    width: 100%;
    position: relative;
	transition: all 500ms ease;
	background: #f3efe7 url("../img/main_slider/slide1.jpg") no-repeat;

}
.leftbutt {
    position: absolute;
    left: 0;
    height: 115px;
    width: 25px;
    top: 40%;
    border: none;
    background: url("../img/main_slider/leftbut.jpg") center no-repeat #ffffff;
}
.rightbutt {
    position: absolute;
    right: 0;
    height: 115px;
    width: 25px;
    top: 40%;
    border: none;
    background: url("../img/main_slider/rightbut.jpg") center no-repeat #ffffff;
}
.div2 {
	display: inline-block;
    width: 100%;
	height: 40px;
    position: absolute;
    text-align: center;
    bottom: -50px;
	.showslidepos {
		margin: 5px;
	    display: inline-block;
	    border-radius: 50%;
	    width: 10px;
	    height: 10px;
	    background-color: $gray-darken;
	}
	.showslidepos:first-child {
		background-color: #fd926d;
	}
	.showslidepos:hover {
		background-color: #fd926d;
	}
}

.slider_main-text{
	position: absolute;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
	width: 340px;
	text-align: center;
	.main-text_crazy{
		font-size: 36pt;
		text-align: center;
		span{
			display: inline-block;
			position: relative;
			&:before{
				content:"";
				display: inline-block;
				border-bottom: black 2px solid;
				position: absolute;
				bottom:50%;
				left: -50px;
				width: 50px;
				margin-left: -10px;
			}
			&:after{
				content:"";
				display: inline-block;
				border-bottom: black 2px solid;
				position: absolute;
				bottom:50%;
				right: -50px;
				width: 50px;
				margin-right: -10px;
			}
		}
	}	
	.main-text_summer{
		border-bottom: 5px black solid;
		padding-bottom: 10px;
	}
	.main-text_collection{
		font-size: 36pt;
		border-top: 2px $gray solid;
	}
	.btn-slider_main{
		display: inline-block;
		padding: 20px 25px;
		color: $white;
		font-size: 16pt;
		border-bottom: 3px $orange-darkest solid;
		background: $orange;
		text-align: center;
		text-decoration: none; 
		position: relative;
		text-transform: uppercase;
		&:after{
			content: "";
			display: block;
			position: absolute;
			right: 10px;
			top: 50%;
			border-bottom: 4.5px transparent solid;
			border-left: 6px $white solid;
			border-top: 4.5px transparent solid;
			transform: translateY(-50%);
		}
	}
}
.follow_us {
	margin: 75px 0 40px;
	color: #8a8a8a;
	background: $gray-follow;
	text-align: center;
	height: 55px;
	line-height: 30px;
}
.followform {
	float: left;
	margin-top: 12.5px;
}
label.follow_mail-lable{
	float: left;
	display: block;
	margin-right: 10px;
}
input#follow-mail {
	display: block;
	color: $gray;
	font-style: italic;
	float: left;
	height: 30px;
	border: none;
	padding-left: 5px;
}

.addbuttonshadow{
	display: block;
	float: left;
	border: none;
	width: 30px;
	height: 30px;
	background: $orange-btn url("../img/addbuttlogo.jpg") no-repeat center;
	background-size: 15px;
	border-bottom: 2px solid $orange-darkest;
	position: relative;
}

.errormail {
	display: none;
	color: red;
	margin-left: 15px;
}
.followleft {
	display: block;
	float: right;
	.follow-text{
		display: block;
		float: left;
		line-height: 55px;
		margin-right: 15px;
	}
	.follow_us-sotial_fb{
		display: block;
		background: #f7f7f7 url("../img/shape2.png") no-repeat center;
		height: 55px;
		width: 55px;
		float: left;
	}
	.follow_us-sotial_tv{
		display: block;
		background: url("../img/shape3.png") no-repeat center;
		height: 55px;
		width: 55px;
		float: left;
	}
	.follow_us-sotial_hz{
		display: block;
		background: #f7f7f7 url("../img/shape4.png") no-repeat center;
		height: 55px;
		width: 55px;
		float: left;
	}
}
.label-clothes_collection{
	padding: 0.5em;
	color: $black;
	
}
 .radio-clothes_collection{
	visibility:hidden;
	  outline:none;
	background: $white;
	&:checked{
    	background: $orange-btn;
	}
 }
.clothes_collection{
	.wrapper-all{
		overflow: hidden;
		// width: 1200px;
			// height: 455px;
	}
}
.content-clothes_collection {
	background: #fd926d;
	white-space: nowrap; 
	display: block;
	padding: 30px 0;
	margin-left: -160px;

}
.clothes_collection-model {
	// float: left;
	margin: 0 15px;
	width: 220px;
	background: $gray-lighest;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap; 
	
}
.button_bynow {
	position: absolute;
	z-index: 1;
	height: 120px;
	width: 120px;
	line-height: 150px;
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: url("../img/keylogo.jpg") no-repeat #3d3d3d center 30px;
	outline: none;
	text-align: center;
	border-radius: 50%;
	text-transform: uppercase;
	display: none;

}
.chalange{
	position: relative;
	img{
		display: block;
		position: relative;
		left: 50%;
	}
	.chalange-text{
		position: absolute;
		display: inline-block;
		top: 50%;
		left: 50%;
	}
}
.clothes_collection-mode{
	float: left;
	margin: 0 15px;
	width: 220px;
	background: $gray-lighest;
	&:first-child{
		margin-left: 0;
	}
	&:last-child{
		margin-right: 0;
	}
	.clothes_collection-descr{
		text-align: center;
	}
}

.popupform {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #8b8a86;
	display: none;
}
.divregformstyle {
	height: 330px;
	width: 330px;
	position: fixed;
	color: white;
	background: #fd926d !important;
	text-align: center;
	margin-left: 0 auto;
	font-size: 20px;
	top: 30%;


}
.regformstyle {
	position: fixed;
	margin-top: 15px;
	height: 300px;
	width: 330px;
	background: white;
	padding-top: 10px;
	border-top: 3px #dd6b44 solid;
}
.regformfield {
	margin: 5px;
	width: 250px;
	height: 32px;
	color: grey;
}
.formfieldsub {
	position: fixed;
	width: 95px;
	height: 35px;
	margin-top: 3%;
	left: 50%;
	border: none;
	background: #4fafa0;
	color: white;
}
.formtextspan {

}

