<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="../css/style.css")
	link(rel="stylesheet", href="../css/normalize.css")
	title Document
body
	header
		.wrapper
			.header-info.cf
				.custom_phone custom care 888 23 4567
				.my_info.cf
					.my_ak my account
					.my_cash
						select us
							//- option(autofocus) us
							option eu
	.head-logo_menu
		.wrapper.cf
			.logo 
				a(href="#"): img(src="../img/logo.png" alt="")
			.bin
				select.customer_card
					option visa
					option master card
				.customer_check
					.customer_check-quantity 0 items
					.customer_check-summ $ 0
			nav
				ul.home home
				ul#products products
					li: a(href="#") women
					li: a(href="#") men
					li: a(href="#") children
				ul.shopping shopping
				ul.contacts contacts
			
	section.slider_main
		.wrapper-all
			div(class="slider" id="div1")
				input(id="clickjs3" type="button" value="" class="leftbutt")
				input(id="clickjs4" type="button" value="" class="rightbutt")
				div(class="div2")
					ul
						li.showslidepos
						li.showslidepos
						li.showslidepos
						li.showslidepos
						li.showslidepos
				.slider_main-text
					.main-text_crazy Crazy
					img(src="../img/crazy_summer.png" class="main-text_summer" alt="")
					.main-text_collection woman collection
					a(href="#" class="btn-slider_main")
						| shop now
	section.follow_us
		.wrapper
			label.follow_us-your_email
				| Stay updated
				input( type="text" placeholder="your email adress")
			.follow_us-sotial
				p Find us here
				.follow_us-sotial_fb fb
				.follow_us-sotial_tv tv
				.follow_us-sotial_hui hui
	section.ad
		.wrapper
			.slider_ad-left
				.ad-left_men-text
					p men's
					p outfits
					p looks
				a(href="#" class="ad_shop-btn")
			.slider_ad-rtop
				.ad-rtop_women-text
					p women's
					p new
					p collection
				a(href="#" class="ad_shop-btn")
			.slider_ad-rbottom
				.ad-rbottom_child-text
					p back to scool
				a(href="#" class="ad_shop-btn")
	section.clothes_collection
		wrapper
			.content-clothes_collection
				.clothes_collection-model
					a(href="#" class=".clothes_collection-photo photo1")
					.clothes_collection-descr
						.collection_descr-name
							|nadia dress
						.collection_descr-coast
							|$64.95
						a(href="#" class="collection_descr-btn")
							add to cart
				.clothes_collection-model
					a(href="#" class=".clothes_collection-photo photo1")
					.clothes_collection-descr
						.collection_descr-name
							|nadia dress
						.collection_descr-coast
							|$64.95
						a(href="#" class="collection_descr-btn")
							add to cart
				.clothes_collection-model
					a(href="#" class=".clothes_collection-photo photo1")
					.clothes_collection-descr
						.collection_descr-name
							|nadia dress
						.collection_descr-coast
							|$64.95
						a(href="#" class="collection_descr-btn")
							add to cart
				.clothes_collection-model
					a(href="#" class=".clothes_collection-photo photo1")
					.clothes_collection-descr
						.collection_descr-name
							|nadia dress
						.collection_descr-coast
							|$64.95
						a(href="#" class="collection_descr-btn")
							add to cart
	script(src="../js/main-menu.js")
	script(src="../js/main-slider.js")