<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="../css/style.css")
	link(rel="stylesheet", href="../css/normalize.css")
	title Perspectiva
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
body
	header
		.wrapper
			.header-info.cf
				.custom_phone custom care 888 23 4567
				.my_info.cf
					.my_ak#showreg my account
						include components/_registration
					.my_cash $ us
						//-ocus) us
							option eu
	.head-logo_menu
		.wrapper.cf
			include components/_logo
			.bin
				select.customer_card
					option visa
					option master card
				.customer_check
					.customer_check-quantity 0 items
					.customer_check-summ $ 0
			nav.cf
				ul.main-menu.cf
					li.main-menu-li.home home
					li.main-menu-li#products products
						ul.menu-item
							li.land
								a(href="#adcollection" class="menu-link")
									span 
									|women
							li.land
								a(href="#adcollection" class="menu-link")
									span 
									|men
							li.land
								a(href="#adcollection" class="menu-link")
									span 
									|children
					li.main-menu-li.shopping shopping
					li.main-menu-li.contacts contacts
	section.slider_main

			div(class="slider" id="div1")
				input(id="clickjs3" type="button" value="" class="leftbutt")
				input(id="clickjs4" type="button" value="" class="rightbutt")
				div(class="div2")
					ul
						li.showslidepos#0
						li.showslidepos#1
						li.showslidepos#2
						li.showslidepos#3
						li.showslidepos#4
				.slider_main-text
					.main-text_crazy 
						span Crazy
					img(src="../img/crazy_summer.png" class="main-text_summer" alt="")
					.main-text_collection woman collection
					a(href="#" class="btn-slider_main")
						| shop now
	section.follow_us
		.wrapper.cf
			form.followform.cf(name="stayup") 
				label.follow_mail-lable(for="follow-mail")|Stay updated
				input(type="text" name="mail" id="follow-mail" value="")
				input(type="submit" class="addbuttonshadow" value="")
				p#error.errormail
			.followleft.cf
				.follow-text 
					span Find us here
				.follow_us-sotial_fb
				.follow_us-sotial_tv
				.follow_us-sotial_hz
	section.ad
		.wrapper
			.slider_ad-left
				.ad-left_men-text
					p men's
					p outfits
					p looks
				a(href="#" class="ad_shop-btn")
			.slider_ad-rtop
				.ad-rtop_women-text
					p women's
					p new
					p collection
				a(href="#" class="ad_shop-btn")
			.slider_ad-rbottom.cf
				.ad-rbottom_child-text.cf
					p back to scool
				a(href="#" class="ad_shop-btn")
					| SHOP NOW
	section.clothes_collection
		.wrapper
			input(type="radio" name="radio-clothes_collection" id="whats_hot" checked href="#")
			label.label-clothes_collection(for="whats_hot" id="whats_hot-lable") whats hot
			input(type="radio"  name="radio-clothes_collection" id="designer" href="#")
			label.label-clothes_collection(for="designer" id="designer-lable") Designer
			input(type="radio" name="radio-clothes_collection" id="features" href="#")
			label.label-clothes_collection(for="features" id="features-lable") Features
			input(type="radio" name="radio-clothes_collection" id="latest" href="#")
			label.label-clothes_collection(for="latest" id="latest-lable") latest
			.button-slider_left
			.button-slider_right
		.wrapper-all
			.content-clothes_collection
				.clothes_collection-model
					img(src="../img/prod/foto1.jpg" class="position_model")
					.clothes_collection-descr
						.collection_descr-name
							|MIMOSA LACE DRESS
						.collection_descr-coast
							|$76.95
						a.btn-add-to-card add to cart
				.clothes_collection-model
					img(src="../img/prod/foto2.jpg" class="position_model")
					.clothes_collection-descr
						.collection_descr-name
							| FEEL TANK
						.collection_descr-coast
							| $59.95
						a.btn-add-to-card add to cart
				.clothes_collection-model
					img(src="../img/prod/foto1.jpg" class="position_model")
					.clothes_collection-descr
						.collection_descr-name
							| MIMOSA LACE DRESS
						.collection_descr-coast
							| $76.95
						a.btn-add-to-card add to cart
				.clothes_collection-model
					img(src="../img/prod/foto2.jpg" class="position_model")
					.clothes_collection-descr
						.collection_descr-name
							|FEEL TANK
						.collection_descr-coast
							|$59.95
						a.btn-add-to-card add to cart
				.clothes_collection-model
					img(src="../img/prod/foto3.jpg" class="position_model")
					.clothes_collection-descr
						.collection_descr-name
							|HOT SHORTS
						.collection_descr-coast
							|$35.95
						a.btn-add-to-card add to cart
				.clothes_collection-model
					img(src="../img/prod/foto4.jpg" class="position_model")
					.clothes_collection-descr
						.collection_descr-name
							|PETROL SWEATER
						.collection_descr-coast
							|$21.50
						a.btn-add-to-card add to cart
				.clothes_collection-model
					img(src="../img/prod/foto3.jpg" class="position_model")
					.clothes_collection-descr
						.collection_descr-name
							| HOT SHORTS
						.collection_descr-coast
							| $35.95
						a.btn-add-to-card add to cart
				.clothes_collection-model
					img(src="../img/prod/foto4.jpg" class="position_model")
					.clothes_collection-descr
						.collection_descr-name
							| PETROL SWEATER
						.collection_descr-coast
							| $21.50
						a.btn-add-to-card add to cart
		a(href="#" class="button_bynow") shop it

	section.sale
		.wrapper
			.chalange
				img(src="../img/sale50.png", alt="")
				.chalange-text 
					span.text-top clearance 
					span.text-bottom 50 % off
		.wrapper.cf
			.clothes_collection-mode
				img(src="../img/prod/foto5.jpg" class="")
				.clothes_collection-descr
					.collection_descr-name
						|NADIA DRESS
					.collection_descr-coast
						|$64.95
					a.btn-add-to-card add to cart
			.clothes_collection-mode
				img(src="../img/prod/foto6.jpg" class="")
				.clothes_collection-descr
					.collection_descr-name
						|SOFI BLOUSE
					.collection_descr-coast
						|$26.95
					a.btn-add-to-card add to cart
			.clothes_collection-mode
				img(src="../img/prod/foto7.jpg" class="")
				.clothes_collection-descr
					.collection_descr-name
						|GOODING SHORTS
					.collection_descr-coast
						|$79.95
					a.btn-add-to-card add to cart
			.clothes_collection-mode
				img(src="../img/prod/foto8.jpg" class="")
				.clothes_collection-descr
					.collection_descr-name
						|MIMOSA LACE DRESS
					.collection_descr-coast
						|$76
					a.btn-add-to-card add to cart
	a(name="adcollection" class = 'scrolltome')
	section.main_footer-content
		.main_brands
		.wrapper
			.footer_brands
				.brands_img
				.brands_img
				.brands_img
				.brands_img
				.brands_img
				.brands_img
				.brands_img
				.brands_img
		.footer_about
		.footer_about-next
			.wrapper
				.footer_about_text
		.footer_pay-cards
			span.pay_text
			.pay_img



	

	script(type="text/javascript" src="../js/main-menu.js")
	script(type="text/javascript" src="../js/main-slider.js")
	script(type="text/javascript" src="../js/stayupdated.js")
	script(type="text/javascript" src="../js/bynow-button.js")
	script(type="text/javascript" src="../js/register-form.js")
	script(type="text/javascript" src="../js/add-to-cart.js")
	script(type="text/javascript" src="../js/adcollection.js")
	script(type="text/javascript" src="../js/footer-script.js")
	script(type="text/javascript" src="../js/second-slider.js")

