.btn-add-to-card {
  display: block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #fd926d;
  margin: 0 auto;
  text-decoration: none;
  cursor: pointer;
}
