section.popupform.overlay
		.box
			.form-h	REGISTER NOW
				.form-close X
			form(name="myregisterform" class="regform-style")
				input(type="text" name="fname" class="regform-field" data-val-mark="Name" data-val-error="Check your name" data-val-flag="invalid")
				input(type="text" name="surname" class="regform-field" data-val-mark="Surname" data-val-error="Check your surname" data-val-flag="invalid")
				input(type="text" name="phone" class="regform-field" data-val-mark="Phone number" data-val-error="Check your phone number" data-val-flag="invalid")
				input(type="text" name="email" class="regform-field" data-val-mark="Email" data-val-error="Check your email" data-val-flag="invalid")
				input(type="text" name="zip" class="regform-field" data-val-mark="ZIP code" data-val-error="Check your zip code" data-val-flag="invalid")
				.formfield-sub.cf
					input(type="submit" class="formfield-btn" value="SUBMIT")
	