$gray-lighest: #f7f7f7;
$gray-light: #c2c2c2;
$gray: #444;
$gray-darkest: #6b6b6b;
$gray-darken: #867a76;
$gray-follow: #ededed;

$orange-btn: #fd926d;
$orange-light: #ffa687;
$orange: #fd926d;
$orange-darkest: #dd6b44;

$green: #4fafa0;

$black: #000;

$white: #fff;